@import "tailwindcss";

@keyframes ping-slow {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.4;
    }
}

.animate-ping-slow {
    animation: ping-slow 1.5s infinite;
}